.portfolio {
    padding: 50px 20px;
    background-color: #1A1523;
    color: #ffffff;
    text-align: center;
}

.portfolio-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.projects-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
