.project-card {
    display: flex;
    background-color: #2d2d44;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px;
    color: #ffffff;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-description {
    flex: 1;
    padding: 20px;
}

.project-description h3 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.project-description p {
    font-size: 16px;
    color: #b0b0b5;
}

.tags {
    margin: 10px 0;
}

.tag {
    display: inline-block;
    background-color: #444;
    color: #ffffff;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
}

.project-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6f42c1;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.project-button:hover {
    background-color: #5a32a3;
}

.project-image {
    flex: 1;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: auto;
    display: block;
}
